.container{
    display: flex;
    background-color: aqua;

}

.container div{
    margin: 10px;
    padding: 10px;
    background-color: white;
    font-size: 35px;
}

.container div:nth-child(3){
    order: 2;
}

.container div:nth-child(1){
    order: 3;
}

.container div:nth-child(2){
    order: 4;
}

.container div:nth-child(4){
    order: 0;
}

.container2{
    display: flex;
    background-color: yellow;
    flex-direction: column-reverse;
}

.container2 div{
    margin: 10px;
    padding: 10px;
    background-color: white;
    font-size: 35px;
}

.container3{
    display: flex;
    background-color: brown;
    flex-direction: row;
}
.container3 div{
    margin: 10px;
    padding: 10px;
    background-color: white;
    font-size: 35px;
}

.container3 div:nth-child(1){
    flex-grow: 4;
}

.container4{
    display: flex;
    background-color: blue;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

.container4 div{
    margin: 10px;
    padding: 10px;
    background-color: white;
    font-size: 35px;
    width: 30%;
}

.container5{
    display: flex;
    background-color: purple;
    flex-direction: row;
    justify-content: center;
}

.container5 div{
    margin: 10px;
    padding: 10px;
    background-color: white;
    font-size: 35px;
    width: 30%;
}

.container5{
    display: flex;
    background-color: green;
    flex-direction: row;
    height: 800px;
    align-content: center;
    flex-wrap: wrap;
}

.container6 div{
    margin: 10px;
    padding: 10px;
    background-color: white;
    font-size: 35px;
    width: 30%;
}






